# Day 1 - Basic Python
Hari pertama kita akan belajar beberapa syntax dasar python

## Variabel

In [1]:
nama_lengkap = 'Arif Laksito'
tinggi = 178.5
is_maried = True

In [2]:
print(nama_lengkap)
print(tinggi)
print(is_maried)

Arif Laksito
178.5
True

In [3]:
print(f'Nama {nama_lengkap} tinggi {tinggi}')

Nama Arif Laksito tinggi 178.5

In [4]:
b1, b2, b3 = 10, 20, 30

In [7]:
print(b3)

30

In [10]:
type(nama_lengkap)

str

## Comment

In [11]:
# Membuat variabel
tinggi_segitiga = 13
alas_segitiga = 4

In [12]:
'''
Ini komentar
dan tidak akan dijalankan
hanya sebagai informasi di code python
'''
print(tinggi_segitiga)
print(alas_segitiga)

13
4

## List

In [15]:
# index  0   1   2   3   4   5
ages = [15, 21, 23, 17, 18, 32]

In [16]:
type(ages)

list

In [17]:
print(ages[3])

17

In [20]:
print(ages[0])

15

In [21]:
ages.append(29)

In [22]:
print(ages)

[15, 21, 23, 17, 18, 32, 29]

In [23]:
ages.remove(21)

In [24]:
print(ages)

[15, 23, 17, 18, 32, 29]

In [25]:
print(len(ages))

6

In [27]:
# [inclusive: exclusive]
print(ages[0:3])

[15, 23, 17]

In [28]:
print(ages[3:6])

[18, 32, 29]

In [29]:
print(ages)

[15, 23, 17, 18, 32, 29]

In [30]:
ages.sort()
print(ages)

[15, 17, 18, 23, 29, 32]

In [31]:
ages.sort(reverse=True)
print(ages)

[32, 29, 23, 18, 17, 15]

In [32]:
print(ages)

[32, 29, 23, 18, 17, 15]

In [33]:
ages.insert(0, 20)

In [34]:
print(ages)

[20, 32, 29, 23, 18, 17, 15]

In [35]:
ages.insert(3, 20)

In [36]:
print(ages)

[20, 32, 29, 20, 23, 18, 17, 15]

## Dictionary

In [37]:
# key : value
# kunci : nilai
mhs = {'nim':'IF001', 'name':'Arfan Fatih', 'grade':'4A'}

In [39]:
print(mhs['name'])
print(mhs['grade'])

Arfan Fatih
4A

In [40]:
mhs['dob'] = '20-09-2010'

In [41]:
print(mhs)

{'nim': 'IF001', 'name': 'Arfan Fatih', 'grade': '4A', 'dob': '20-09-2010'}

In [42]:
mhs.pop('grade')

'4A'

In [43]:
print(mhs)

{'nim': 'IF001', 'name': 'Arfan Fatih', 'dob': '20-09-2010'}

In [44]:
type(mhs)

dict

## Gabungan list dict

In [45]:
mhs_baru = [{'nim':'IF001', 'name':'Arfan Fatih'},
            {'nim':'IF004', 'name':'Aqila Nur'},
            {'nim':'IF032', 'name':'Aydin Ahmad'}]

In [46]:
type(mhs_baru)

list

In [48]:
print(mhs_baru[0]['name'])

Arfan Fatih

In [49]:
print(mhs_baru[1]['nim'])

IF004

In [50]:
nilai = {'eng':[80, 85, 90],
        'sci':[90, 80, 85]}

In [51]:
type(nilai)

dict

In [54]:
print(nilai['sci'][0])

90

## Operator Aritmatika

In [60]:
a = 10
b = 15.67
c = a * b
print(c)

156.7

In [56]:
d = 'Arif'

In [71]:
p = 10
q = 3
print(int(p / q))
print(p % q)

3
1

In [69]:
print(2**5)

32

## Operator Perbandingan

In [79]:
20 >= 20

True

In [73]:
20 < 15

False

In [75]:
25 != 25

False

In [77]:
'Arif' == 'Arif'

True

## Operator Logika

In [80]:
True and True

True

In [81]:
True and False

False

In [82]:
True or True

True

In [83]:
True or False

True

In [84]:
False or False

False

In [85]:
50>20 and 20>30

False

In [87]:
not(50>20)

False

## Quiz 1
Diketahui suatu segitiga dengan tinggi = 21 dan alas = 6.43

Berapakah luas segitiga tersebut?

In [89]:
t = 21
a = 6.43
luas = 0.5 * t * a
print(f'Luas segitiga adalah {luas}')

Luas segitiga adalah 67.515

## Quiz 2
Diketahui Arif berangkat dari Solo jam 09.42 dan tiba di Jogja jam 11.10

Berapakah lama perjalanan Arif? Output dalam (x jam y menit)

In [90]:
jm_brk = 9
mn_brk = 42
jm_tiba = 11
mn_tiba = 10

time_brk = jm_brk*60 + mn_brk
time_tiba = jm_tiba*60 + mn_tiba

time_perj = time_tiba - time_brk
print(f'Lama perjalanan {time_perj} menit')

Lama perjalanan 88 menit

In [91]:
jam_perj = int(time_perj/60)
mn_perj = time_perj%60

print(f'Lama perjalanan {jam_perj} jam {mn_perj} menit')

Lama perjalanan 1 jam 28 menit

## Conditional IF

In [97]:
nilai = 64
if(nilai > 70):
    print('Lulus')
else:
    print('Tidak Lulus')

Tidak Lulus

In [99]:
n1 = 43
if(n1 > 70):
    print('Lulus')
elif(n1 > 50):
    print('Remidial')
else:
    print('Tidak Lulus')

Tidak Lulus

In [103]:
# konversi nilai ke grade
n2 = 21
if(n2>80):
    print('Nilai A')
elif(n2>70):
    print('Nilai B')
elif(n2>60):
    print('Nilai C')
elif(n2>40):
    print('Nilai D')
else:
    print('Nilai E')

Nilai E

## Iterasi / Perulangan / Loop

In [106]:
range(0,10)

range(0, 10)

In [108]:
for n in range(0,5):
    print(n)

0
1
2
3
4

In [109]:
list_nilai = [80, 65, 70, 55, 60, 35, 90]

In [110]:
for n in list_nilai:
    print(f'Nilai {n}')

Nilai 80
Nilai 65
Nilai 70
Nilai 55
Nilai 60
Nilai 35
Nilai 90

In [111]:
j = 0
for n in list_nilai:
    j = j + n
    
print(f'Jumlah total {j}')

Jumlah total 455

In [114]:
names = {'n1':'Arif', 'n2':'Aqila', 'n3':'Arfan', 'n4':'Aydin'}

In [115]:
print(names.items())

dict_items([('n1', 'Arif'), ('n2', 'Aqila'), ('n3', 'Arfan'), ('n4', 'Aydin')])

In [117]:
for k,v in names.items():
    print(f'{k} --> {v}')

n1 --> Arif
n2 --> Aqila
n3 --> Arfan
n4 --> Aydin

## Fungsi

In [121]:
def hello(a):
    print(f'Hello {a}')

In [123]:
hello('Arif')

Hello Arif

In [124]:
hello('Budi')

Hello Budi

In [125]:
def jumlah(a, b):
    return a + b

In [126]:
h = jumlah(10, 5)

In [127]:
print(h)

15

In [128]:
def hitung(a,b):
    j = a+b
    k = a*b
    return j, k

In [129]:
h1, h2 = hitung(10, 5)

In [130]:
print(h1)
print(h2)

15
50

## Quiz 3
Buat fungsi untuk menghitung luas dan keliling suatu persegi panjang

l = p x l

k = 2 x (p + l)

In [131]:
def persegi(p, l):
    luas = p*l
    kel = 2*(p+l)
    return luas, kel

In [132]:
luas, kel = persegi(10, 5)
print(luas)
print(kel)

50
30

In [133]:
def lama_perjalanan(j1, m1, j2, m2):
    
    time_brk = j1*60 + m1
    time_tiba = j2*60 + m2

    time_perj = time_tiba - time_brk
    jam_perj = int(time_perj/60)
    mn_perj = time_perj%60
    
    return jam_perj, mn_perj

In [136]:
j, m = lama_perjalanan(8,55,14,21)
print(f'Lama Perjanalan {j} jam {m} menit')

Lama Perjanalan 5 jam 26 menit

In [137]:
def pangkat2_list(a):
    b = []
    for i in a:
        b.append(i**2)
    return b

In [138]:
c = [2,4,5,3]

In [139]:
d = pangkat2_list(c)

In [140]:
print(d)

[4, 16, 25, 9]

## Library

In [141]:
import math
import random as rd

In [142]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [143]:
s = math.sqrt(49)

In [144]:
print(s)

7.0

In [145]:
print(math.sin(0))

0.0

In [146]:
print(math.pi)

3.141592653589793

In [175]:
rd.choice(range(0,50))

32